<hyrule-menu></hyrule-menu>
<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Page created by <a href="https://pleonex.dev">Benito Palacios</a>.
      <br>
      Compendium info from the <a href="https://gadhagod.github.io/Hyrule-Compendium-API">Hyrule Compendium API</a> project.
      <br>
      Comic by <a href="https://xkcd.com/">xkcd</a>.
      <br>
      Techy tips by <a href="https://techy-api.vercel.app/">PerryPal</a>.
    </p>
  </div>
</footer>
