# Top-level config file
root = true

# All files
[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.yml]
indent_size = 2

[*.md]
charset = utf-8
insert_final_newline = true
end_of_line = unset # Leave it to git
indent_style = space
indent_size = 2
max_line_length = 80
