<nav class="panel is-info">
  <p class="panel-heading">{{xkcd?.title}} (#{{xkcd?.num}})</p>
  <div class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-calendar-days" aria-hidden="true"></i>
    </span>
    {{xkcdDate?.toLocaleDateString()}}
  </div>
  <div class="panel-block">
    <figure>
        @if (xkcd) {
        <img src="{{xkcd.img}}" alt="{{xkcd.transcript}}" title="{{xkcd.title}}">
        <figcaption>
          <article class="message">
            <div class="message-body">
              {{xkcd.alt}}
            </div>
          </article>
        </figcaption>
      } @else {
        <img src="https://http.cat/102" alt="loading">
      }
    </figure>
  </div>
</nav>
