<nav class="panel is-info">
  <p class="panel-heading">{{xkcd?.title}} ({{xkcdDate?.toLocaleDateString()}})</p>
  <div class="panel-block">
    <figure>
        @if (xkcd && xkcdDate) {
        <img src="{{xkcd.img}}" alt="{{xkcd.transcript}}" title="{{xkcd.title}}">
        <figcaption>
          <article class="message">
            <div class="message-body">
              {{xkcd.alt}}
            </div>
          </article>
        </figcaption>
      } @else {
        <img src="https://http.cat/102" alt="loading">
      }
      </figure>
    </div>
</nav>
