<section class="section">
  <section class="hero is-link">
    <div class="hero-body">
      <p class="title">
        Welcome back, {{loggedUser?.fullName}}!
      </p>
      <p class="subtitle">
        Please, read some tech tips before continuing your adventure.
      </p>
    </div>
  </section>

  <div class="grid is-col-min-12 is-gap-8" style="margin-top: 32px;">
    <div class="cell" style="max-width: 500px;">
      <hyrule-xkcd></hyrule-xkcd>
    </div>

    <div class="cell">
      <hyrule-techy></hyrule-techy>
    </div>
  </div>
</section>
