<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://gadhagod.github.io/Hyrule-Compendium-API/assets/light_logo.png">
      <h1>Hyrule compendium</h1>
    </a>

    <a role="button"
       class="navbar-burger"
       aria-label="menu"
       aria-expanded="false"
       data-target="navbarHome">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarHome" class="navbar-menu">

    <div class="navbar-start">
      <a class="navbar-item" routerLink="/home">Home</a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Compendium</a>

        <div class="navbar-dropdown">
          <a class="navbar-item">Creatures</a>
          <a class="navbar-item">Equipment</a>
          <a class="navbar-item">Materials</a>
          <a class="navbar-item">Monsters</a>
          <a class="navbar-item">Treasures</a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light">Log out</a>
        </div>
      </div>
    </div>
  </div>
</nav>
