<nav class="panel is-primary">
  <p class="panel-heading">Compendium search</p>

  <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input" type="text" placeholder="Search" [(ngModel)]="searchFilter">
      <span class="icon is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </p>
  </div>

  <div style="max-height: 500px; overflow: auto;">
    @if (searchFilter.length < 1) {
      <a class="panel-block">
        Please type the filter.
      </a>
    } @else {
      <p class="panel-block has-background-primary-light has-text-primary-light-invert">
        <strong>Creatures</strong>
      </p>
      @for (result of creatureResults; track result.id) {
        <a class="panel-block"
          [routerLink]="[result.category]"
          [queryParams]="{'id': result.id}">
          <span class="panel-icon">
            <i class="fas fa-horse" aria-hidden="true"></i>
          </span>
          {{result.id}} - {{result.name}}
        </a>
      } @empty {
        <a class="panel-block">
          No results
        </a>
      }
    }
  </div>
</nav>
